.nsc-wrapper form {
  gap: 0;
}

.nsc-wrapper input,
.nsc-wrapper select {
  margin: 5px 0;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.nsc-wrapper button {
  border: none;
  cursor: pointer;
}

#nsc-result {
  margin-top: 10px;
  font-size: 18px;
}

#nsc-result span.nsc-error {
  color: #f24636;
  font-weight: bold;
}

#nsc-result span.nsc-success {
  color: #089999;
  font-weight: bold;
}

